@media screen and (min-width: 1440px) {
    body {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container {
        width: 70%;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        .menu-card {
            grid-column: 1/2;
            grid-row: 1/span 2;
            height: 100%;

            .card-report {
                flex-direction: column;
                align-items: flex-start;
                height: 70%;
                padding: 3.5rem;

                img {
                    width: 9rem;
                }

                .report {
                    margin-top: 1.0rem;
                    gap: 0.8rem;
                    div {
                        font-size: 4rem;
                    }
                }
            }

            .menu {
                height: 30%;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                gap: 0.5rem;
            }
        }

        .regular-card {
            padding-top: 16%;
            .property-card {
                gap: 3rem;

                .bottom {
                    .hours {
                        font-size: 5rem;
                    }
                }
            }
        }

    }
}